.cart{
    color: #fff;
}
.cart_bg{
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(18, 16, 16);
    padding-top: 6.25rem;
}
.cart_empty_icon{
    font-size: 4.375rem;
    color: rgb(226, 0, 0);
}
.cart_empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5.625rem;
}
.cart_empty_title{
    font-size: 1.6875em;
    margin-top: 1.875rem;
    text-align: center;
}
.cart_empty_p{
    font-size: 1.125em;
    text-align: center;
    margin: 1.5625rem 1.25rem;
}
.cart_empty_btn1, .cart_empty_btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1875em;
    height: 2.8125rem;
    width: 9.375rem;
    margin: .4375rem 0;
    color: #fff;
    border-radius: .4375rem;
}
.cart_empty_btn1{
    background-color: rgb(1, 58, 102);
}
.cart_empty_btn2{
    background-color: rgb(0, 149, 35);
}
.cart_empty_btn1:hover{
    background-color: rgb(0, 71, 125);
}
.cart_empty_btn2:hover{
    background-color: rgb(1, 167, 40);
}
.cart_table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #000;
    margin: -0.625rem .3125rem;
    border-radius: .9375rem;
    height: 2.5rem;
    overflow: hidden;
}
.cart_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .625rem .3125rem;
    height: 8.75rem;
    background-color: rgb(124, 124, 124);
    border-radius: .9375rem;
    overflow: hidden;
}
.cart_items_img{
    margin-left: .3125rem;
    max-width: 3.75rem;
    max-height: 6.25rem;
    object-fit: contain;
}
.cart_items_title{
    margin: 0 .625rem;
    font-size: 1em;
    max-width: 5.625rem;
    text-align: center;
}
.cart_items_price{
    font-size: 1.0625em;
    width: 5.625rem;
    padding: 0 .3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.price_badge{
    margin-right: .3125rem;
}
.items_delete_container{
    position: relative;
    top: -2.8125rem;
    right: .4375rem;
}
.cart_items_delete{
    all: unset;
    font-size: 1.5625em;
    text-align: center;
    cursor: pointer;
}
.cart_items_delete:hover{
    color: black;
    background-color: #fff;
    border: 1px solid transparent;
}
.cart_delete_all{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: .9375rem .625rem .3125rem 0;
}
.cart_delete_all_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 8.125rem;
    height: 2.5rem;
    background-color: rgb(209, 0, 0);
    border-radius: .4375rem;
    cursor: pointer;
}
.cart_delete_all_btn:hover{
    background-color: rgb(185, 2, 2);
}
.cart_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5625rem;
}
.cart_detail_btn{
    all: unset;
    margin-top: .3125rem;
    height: 2.5rem;
    width: 8.125rem;
    text-align: center;
    background-color: rgb(0, 175, 0);
    border-radius: .4375rem;
    cursor: pointer;
}
.cart_detail_btn:hover{
    background-color: rgb(2, 197, 2);
}
.paypal-buttons{
    margin-top: 1.875rem;
    border-radius: .25rem;
}
@media screen and (min-width: 25rem){
    .cart_table{
        margin: -0.75rem .9375rem;
    }
    .cart_items{
        margin: .75rem .9375rem;
    }
    .cart_delete_all{
        margin: 1.125rem .9375rem .3125rem 0;
    }
    .cart_items_img{
        margin-left: .625rem;
        max-width: 5rem;
    }
    .cart_items_title{
        font-size: 1.1875em;
    }
    .cart_items_price{
        font-size: 1.375em;
    }
    .cart_items_delete{
        margin: 0 .5rem;
        font-size: 1.25em;
    }
}
@media screen and (min-width: 37.5rem){
    .cart_bg{
        padding-top: 8.125rem;
    }
    .cart_table{
        margin: -0.875rem 1.25rem;
        font-size: 1.25em;
    }
    .cart_items{
        margin: .875rem 1.25rem;
    }
    .items_delete_container{
        all: unset;
    }
    .cart_delete_all{
        margin: 1.375rem 1.25rem .3125rem 0;
    }
    .cart_items_img{
        margin-left: 1.4375rem;
        min-width: 7.5rem;
    }
    .cart_items_title{
        font-size: 1.25em;
    }
    .cart_items_delete{
        font-size: 1.3125em;
        height: 2.25rem;
        width: 2.25rem;
    }
}
@media screen and (min-width: 62.5rem){
    .cart_table{
        margin: -0.875rem 6.25rem;
        font-size: 1.3125em;
    }
    .cart_items{
        margin: .875rem 6.25rem;
    }
    .cart_delete_all{
        margin: 1.125rem 6.25rem 1.875rem 0;
    }
    .cart_items_img{
        margin-left: 1.6875rem;
        min-width: 7.5rem;
        min-height: 6.875rem;
    }
    .cart_items_title{
        font-size: 1.375em;
        min-width: 12.5rem;
    }
    .cart_items_delete{
        font-size: 1.3125em;
        height: 2.375rem;
        width: 2.375rem;
    }
    .cart_items_price{
        margin-left: 2.1875rem;
    }
}