.container-all-footer-player{
    height: 4.16rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(1, 1, 1, 0.951);
    color: rgb(255, 255, 255);
    border-radius: .625rem;
}
.footer-music-player{
    display: flex;
    align-items: center;
    border-radius: .625rem;
}
.footer-img-beat{
    width: 3rem;
    height: 3.425rem;
    object-fit: cover;
    margin: -.2125rem 0 .725rem .3125rem;
    border-radius: .4375rem;
    user-select: none;
}
.title-footer-beat{
    font-size: 1.0625em;
    width: 8.875rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.container-title-volume-icons{
    font-size: 1.2em;
}
.time-song-current{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 4.5rem;
    width: 91%;
    color: #fff;
    margin: 0 .8125rem;
    font-weight: 500;
}
.time-song-current > span{
    padding: 1px 2px;
    background-color: rgba(0, 0, 0, 0.707);
    border-radius: .3125rem;
}
.container-beat-progressbar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4375rem;
}
.beat-progressbar{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: .425rem;
    height: .7rem;
    width: 92%;
    background-color: black;
}
.container-title-volume{
    margin: 0 .55rem .625rem .5rem;
}
.container-title-volume-icons{
    font-size: 1.4em;
}
.footer-volume-bar{
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    width: 5.3125rem;
    margin: .5938rem 0 0 .125rem;
    position: absolute;
}
.footer-volume-bar::-webkit-slider-thumb{
    cursor: none;
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: rgb(32, 179, 6);
    transition: .3s ease;
    margin-top: -0.2813rem;
}
.footer-volume-bar::-moz-range-thumb{
    cursor: none;
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: rgb(53, 164, 1);
    transition: .3s ease;
    margin-top: -0.2813rem;
}
.footer-volume-bar:hover::-webkit-slider-thumb{
    cursor: none;
    border-radius: 50%;
    background: rgb(218, 218, 218);
    margin-top: -0.2813rem;
}
.footer-volume-bar::-webkit-slider-runnable-track {
    cursor: none;
    width: 100%;
    height: .4625rem;
    background: #eeeeee;
    border-radius: .75rem;
}
.footer-volume-bar::-moz-range-track {
    cursor: none;
    width: 100%;
    height: .4625rem;
    background: #eeeeee;
    border-radius: .75rem;
  }
.footer-volume-bar:hover::-webkit-slider-runnable-track{
    cursor: none;
    background: rgb(41, 177, 0);
    transition: .3s ease;
  }
.btns-audio-functions{
    position: absolute;
    display: flex;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
    font-size: 1.8em;
    color: rgb(253, 253, 253);
}
.btn-pause-play{
    transform: translateY(-2px);
}
.prev-next-audio{
    display: none;
}
.btn-close-footer{
    margin-left: .5rem;
    font-size: 1.02em;
    transition: .3s ease;
}
@media screen and (min-width: 21.25rem) {
    .footer-img-beat{
        width: 3.37rem;
        height: 3.525rem;
        margin: -0.225rem 0 .725rem .4125rem;
    }
    .title-footer-beat{
        font-size: 1.1625em;
        width: 8rem;
    }
    .container-title-volume-icons{
        font-size: 1.7em;
    }
    .btns-audio-functions{
        right: .125rem;
        font-size: 2em;
    }
    .btn-pause-play{
        transform: translateY(1px);
    }
    .btn-close-footer{
        margin-left: .5rem;
        font-size: 1.03em;
        transform: translateY(1.2px);
    }
    .time-song-current{
        bottom: 4.7rem;
        width: 93%;
        margin: 0 .8125rem;
    }
    .time-song-current > span{
        padding: 1px 3px;
    }
    .beat-progressbar{
        height: .8rem;
    }
}
@media screen and (min-width: 37.5rem) {
    .btns-audio-functions{
        right: .3125rem;
        font-size: 2.1em;
    }
    .btn-pause-play{
        transform: translateY(-2.5px);
    }
    .prev-next-audio{
        display: block;
    }
}
@media screen and (min-width: 50rem) {
    .btn-pause-play{
        transform: translateY(-3px);
    }
    .container-all-footer-player{
        height: 4rem;
    }
    .footer-img-beat{
        width: 3.375rem;
        height: 3.25rem;
        margin: -2px 0 .625rem .625rem;
        border-radius: .3125rem;
    }
    .container-title-volume-icons{
        font-size: 1em;
    }
    .time-song-current{
        bottom: 4.8125rem;
        width: 99%;
        margin: 0 .375rem;
    }
    .beat-progressbar{
        bottom: .75rem;
        height: .5625rem;
        width: 94%;
    }
    .container-title-volume{
        margin: -.25rem .625rem .5rem .75rem;
    }
    .title-footer-beat{
        font-size: 1.125em;
        width: 12.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .container-title-volume-icons{
        font-size: 1.4em;
    }
    .footer-volume-bar{
        -webkit-appearance: none;
        background: transparent;
        outline: none;
        width: 6.25rem;
        height: .3438rem;
        margin: .6875rem 0 0 .5rem;
        position: absolute;
    }
    .btns-audio-functions{
        font-size: 2.3em;
        margin-right: .5rem;
    }
    .btn-close-footer{
        transform: translateY(-.8px);
    }
}