.all_services_bg{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(19, 18, 18);
    overflow: hidden;
    padding: 3.125rem .9375rem;
}
.all_services_cards_loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 3.125em;
    color: #fff;
    background-color: rgb(18, 19, 19);
}
.all_services_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 25.625rem;
    color:rgb(242, 241, 241);
    background-color: rgb(50, 106, 220);
    background-image: radial-gradient(circle, #0983eb, #346eda, #5e43f5);
    border-radius: .4375rem;
    margin: 1.875rem 0;
}
.all_services_cards:hover{
    background-color: rgb(33, 86, 193);
    background-image: radial-gradient(circle, #0876d6, #2860c7, #6951f2);
    transition: ease .4s;
}
.all_services_card_img{
    max-height: 6.5625rem;
    max-width: 70%;
    user-select: none;
    pointer-events: none;
    margin: 1.25rem 0;
}
.all_services_content{
   margin-top: .625rem;
}
.all_service_card_title{
    font-size: 1.25em;
    font-weight: 800;
    margin: 0 0 .625rem .625rem; 
}
.all_service_card_description{
    margin: 1.25rem 0 1.25rem .625rem;
    font-size: 1.0313em;
    font-weight: 500;
    width: 90%;
}
.add_price_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
    height: 3.75rem;
    background-color: rgb(95, 145, 243);
    background-image: radial-gradient(circle, #6cb8fb, #6092ee, #767afa);
    border-top-left-radius: .9375rem;
    border-top-right-radius: .9375rem;
}
.services_price_before{
    margin: 0 .3125rem;
    text-decoration: solid 2px line-through;
}
.services_price_after{
    font-weight: 700;
    font-size: 1.0625em;
}
.container_add_cart{
    width: 6.75rem;
    height: 2.4375rem;
    background-color: rgba(0, 12, 54, 0.632);
    color: rgb(235, 235, 235);
    border-radius: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container_add_cart:hover{
    background-color: rgba(1, 10, 38, 0.632);
}
.btn_add_cart{
    all: unset;
    font-weight: 600;
    font-size: 1em;
    padding: 0 0 2px .4375rem;
}
.btn_added{
    font-weight: 600;
    font-size: 1em;
    color: rgb(255, 0, 0);
}

@media screen and (min-width: 37.5rem) {
    .all_services_bg{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5rem 0;
    }
    .all_services_cards{
        justify-content: space-between;
        width: 42%;
        min-height: 28.4375rem;
        margin: 1.25rem .625rem;
    }
    .all_services_card_img{
        max-height: 8.4375rem;
        max-width: 65%;
    }
    .all_service_card_title{
        font-size: 1.4375em;
        margin: 0 0 -0.3125rem 1.25rem;
    }
    .all_service_card_description{
        margin: 1.25rem 0 1.25rem 1.25rem;
        font-size: 1.1875em;
        font-weight: 500;
        line-height: 1.4375rem;
        width: 85%;
    }
    .add_price_content{
        height: 4.375rem;
    }
    .services_price_before{
        margin: 0 .4375rem;
        font-size: 1.0625em;
    }
    .services_price_after{
        font-size: 1.1875em;
    }
    .container_add_cart{
        width: 8.125rem;
        height: 2.625rem;
        font-size: 1.0625em;
    }
    .btn_add_cart{
        font-size: 1.0625em;
        padding: 0 0 2px .5625rem;
    }
    .btn_added{
        font-weight: 600;
        font-size: 1em;
        color: rgb(255, 0, 0);
    }
}
@media screen and (min-width: 68.75rem) {
    .all_services_bg{
        padding: 5.625rem 0;
    }
    .all_services_cards{
        width: 28%;
        height: 29.375rem;
        margin: 1.25rem 1.30rem;
    }
    .add_price_content{
        padding: 1.25rem;
        height: 4.375rem;
    }
    .all_services_card_img{
        max-height: 9.0625rem;
        max-width: 55%;
    }
    .all_service_card_title{
        font-size: 1.4625em;
        margin: 0 1.6875rem;
    }
    .all_service_card_description{
        margin: 1.25rem 0 1.25rem 1.6875rem;
        font-size: 1.0938em;
    }
    .services_price_before{
        margin: 0 .5625rem;
        font-size: 1.125rem;
    }
    .services_price_after{
        font-size: 1.25em;
    }
    .container_add_cart{
        width: 9.0625rem;
        height: 2.75rem;
        font-size: 1.0625em;
    }
    .btn_add_cart{
        font-size: 1.1875em;
        padding: 0 0 3px .5625rem;
    }
    .btn_added{
        font-size: 1.1875em;
    }
}