.overlay-background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.746);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.finish-purchase{
    position: absolute;
    z-index: 1;
    width: 40vw;
    min-width: 15.625rem;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    text-align: center;
    border-radius: .4375rem;
}
.finish-purchase-tick{
    font-size: 7rem;
    color: #fff;
    background-color: rgb(10, 176, 1);
    border-radius: 50%;
    width: 9.375rem;
    margin: 1.875rem 2.5rem;
    user-select: none;
}
.finish-purchase-h2{
    font-size: 1.75rem;
    font-weight: 700;
}
.finish-purchase-h3{
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: .625rem;
    color: rgb(10, 176, 1);
}
.finish-purchase > p{
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1.0625rem;
    width: 80%;
    padding-bottom: 1.425rem;
    border-bottom: 1px solid rgb(172, 172, 172);
}
.finish-purchase-list{
    text-align: start;
    list-style: disc;
    padding: .3125rem 0;
    width: 30vw;
}
.finish-purchase-span{
    margin-top: .625rem;
    font-weight: 400;
}
.finish-purchase-strong{
    font-size: 1.0625rem;
    font-weight: 700;
    color: rgb(10, 176, 1);
}
.finish-purchase-btn{
    font-size: 1.2rem;
    margin: 1.4rem;
    padding: .3125rem;
    width: 80%;
    height: 2.85rem;
    background-color: rgb(20, 19, 19);
    color: #fff;
    border-radius: .45rem;
    cursor: pointer;
}