.our-projects{
    overflow: hidden;
    margin-top: 3rem;
    padding: 1rem 0;
    background-color: rgb(18, 18, 18);
}
.our-projects-title{
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-size: 2.2em;
    color: #96ef1d;
    letter-spacing: .08rem;
    white-space: nowrap;
    transition: 1.5s cubic-bezier(.165, .84, .44, 1);
    margin-left: 1.5rem;
}
@media screen and (min-width: 22.5rem){
    .our-projects-title{
        font-size: 2.7em;
        margin-left: 3rem;
    }
}
@media screen and (min-height: 53.125rem) and (orientation: portrait) {
    .our-projects-title{
        font-size: 3.2em;
    }
}
 @media screen and (min-width: 62.5rem) and (orientation: portrait) {
    .our-projects-title{
        font-size: 5em;
        margin-left: 3rem;
    }
}
@media screen and (min-width: 43.75rem) and (orientation: landscape) {
    .our-projects-title{
        font-size: 3.8em;
        margin-left: 5rem;
    }
}
@media screen and (min-width: 62.5rem) and (orientation: landscape) {
    .our-projects-title{
        font-size: 4.2em;
        margin-left: 7rem;
    }
}