.service-container{
    background-color: rgb(238, 238, 238);
    width: 100%;
    overflow: hidden;
}
.service-container-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.service-container-text-animated{
    display: flex;
    overflow: hidden;
    margin-top: 3rem;
    transform: skew(-5deg, -7deg);
}
.service-container-text-animated > h2{
    font-size: 6em;
    color: rgb(6, 6, 6);
    animation: textAnimate linear 30s infinite;
    white-space: nowrap;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.service-container_text-animated-transparent{
    -webkit-text-stroke: 1.7px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
}
@keyframes textAnimate {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-200%);
    }
}
.service-container-service{
    display: flex;
    width: 100%;
    height: 23.95rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 2.1875rem 0 0 .625rem;
}
.custom-scroll::-webkit-scrollbar{
    display: none;
}
.service-container_service-item{
    min-width: 85%;
    scroll-snap-align: start;
    border-radius: .4375rem;
    background-color: rgb(16 60 149);
    background-image: radial-gradient(circle, #362eb7, #15339d, #3f4354);
    color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: .625rem .9375rem .3125rem 0;
}
.service-container_service_item-img{
    height: 6.5625rem;
    user-select: none;
    pointer-events: none;
}
.service-container_service_item-title{
    font-size: 1.7em;
    text-align: center;
}
.service-container_service_item-p{
    margin: 0 .3rem 0 .625rem;
    font-size: .95em;
}
.service-container-more{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.service-container-more-link{
    all: unset;
    font-size: 1.125em;
    margin: .9375rem 0 2.5rem 0;
    width: 9.375rem;
    height: 2.7875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 52, 155);
    border-radius: .4375rem;
    cursor: pointer;
}
.service-container-more-link:hover{
    background-color: rgb(10, 66, 177);
}
.service-container-more-icon{
    font-size: 1.2em;
    transform: translate(.4375rem, 2px);
}
.service-container-more-link:hover .service-container-more-icon{
    transform: translate(.875rem , 2px);
    transition: ease-in .2s;
}
@media screen and (min-width: 37.5rem){
    .service-container{
        height: auto;
        margin: 0;
    }
    .service-container-service{
        all: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 3.125rem .625rem;
    }
    .service-container_service-item{
        min-width: unset;
        height: 25rem;
        width: 44%;
    }
    .service-container_service_item-p{
        margin: 0 1.25rem;
        font-size: 1.0938em;
    }
    .service-container-text-animated > h2{
        font-size: 9em;
        padding: 0 .9375rem;
    }
}
@media screen and (min-width: 62.5rem){
    .service-container-text-animated{
        transform: skew(-9deg, -3.5deg);
    }
    .service-container-text-animated > h2{
        font-size: 10em;
        padding: 0 1.25rem;
    }
    .service-container-service{
        width: 100%;
        margin-top: 3.75rem;
    }
    .service-container_service-item{
        width: 22%;
        height: 26.25rem;
        margin: 0 .9375rem .625rem 0;
    }
    .service-container_service_item-img{
        height: 7.8125rem;
    }
}