.container-beatstore{
    background: rgb(19, 19, 19);
    width: 100%;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5625rem;
    padding: 6.25rem 0 8.75rem .3125rem;
}
.beats-container{
    width: 43%;
    height: 10.9375rem;
    background: rgb(173,8,8);
    background: linear-gradient(146deg, rgba(173,8,8,1) 0%, rgba(120,14,14,1) 29%, rgba(232,7,7,1) 72%, rgba(187,8,8,1) 100%);
    margin: 0 .5625rem;
    border-radius: .4375rem;
    cursor: pointer;
}
.selected-beat{
    background-color: rgb(41, 41, 41);
    color: rgb(0, 0, 0);
}
.selected-beat > .add-beat-cart{
    background-color: rgb(200, 9, 9);
    color: #fff;
}
.img-beat{
    width: 100%;
    height: 5rem;
    object-fit: cover;
    border-radius: .4375rem;
}
.beat-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2px 0 0 .3125rem;
}
.beat-info-title{
    width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .3125rem;
    font-weight: 700;  
    font-size: .9375em;
}
.beat-info-price{
    font-weight: 600;   
}
.add-beat-cart{
    all: unset;
    position: relative;
    background-color: rgb(245, 242, 242);
    width: 6.25rem;
    height: 1.5625rem;
    border-radius: .3125rem;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    margin: .625rem 0 0px .3125rem;
    bottom: 0;
    left: 0;
    font-weight: 600;
}
.icon-cart{
    margin-right: .5rem;
    font-size: 1em;
}
@media screen and (min-width: 21.25rem){
    .beats-container{
        width: 42%;
        height: 12.5rem;
        margin: 0 .75rem;
    }
    .img-beat{
        height: 5.9375rem;
    }
    .beat-info{
        margin: .25rem 0 0 .4375rem;
    }
    .beat-info-title{
        font-size: 1em;
    }
    .beat-info-price{
        font-size: 1.0625em; 
    }
    .add-beat-cart{
        width: 6.875rem;
        height: 1.6875rem;
        font-size: 1.0938rem;
        margin: .625rem 0 0 .4375rem;
        padding: 0 2px 3px 2px;
    }
    .icon-cart{
        margin-right: .5625rem;
        font-size: 1.0313em;
        transform: translateY(1px);
    }
}
@media screen and (min-width: 23.75rem) and (min-height: 51.25rem){
    .container-beatstore{
        padding: 8.125rem 0 9.375rem .625rem;
    }
    .beats-container{
        height: 15rem;
        margin: 0 .8125rem;
    }
    .img-beat{
        height: 6.5625rem;
    }
    .beat-info{
        margin: .4375rem 0 0 .625rem;
    }
    .beat-info-title{ 
        font-size: 1.0938em;
        margin-bottom: .75rem;
    }
    .beat-info-price{
        font-size: 1.2188em;
    }
    .add-beat-cart{
        width: 7.8125rem;
        height: 1.9375rem;
        font-size: 1.1563em;
        margin: .9375rem 0 0 .5rem;
        padding: 0 2px 3px 2px;
    }
    .icon-cart{
        font-size: 1.2188em;
        font-weight: 900;
        transform: translateY(1px);
    }
}
@media screen and (min-width: 37.5rem){
    .container-beatstore{
        padding: 8.125rem 0 5rem .9375rem;
    }
    .beats-container{
        width: 44%;
        height: 17.5rem;
        margin: 0 .9375rem 1.25rem .9375rem;
    }
    .img-beat{
        height: 9.0625rem;
    }
    .beat-info{
        margin: .4375rem 0 0 .75rem;
    }
    .beat-info-title{ 
        font-size: 1.2188em;
        margin-bottom: .75rem;
    }
    .beat-info-price{
        font-size: 1.2188em;
    }
    .add-beat-cart{
        width: 7.5rem;
        height: 2.0625rem;
        font-size: 1.1563em;
        margin: .625rem 0 0 .625rem;
        padding: 0 2px 3px 2px;
    }
}
@media screen and (min-width: 62.5rem){
    .container-beatstore{
        padding: 8.125rem 0 5rem 1.5625rem;
    }
    .beats-container{
        width: 22%;
        height: 17.5rem;
        margin: 0 .9375rem 1.25rem .9375rem;
    }
    .img-beat{
        height: 9.0625rem;
    }
    .beat-info{
        margin: .4375rem 0 0 .75rem;
    }
    .beat-info-title{ 
        font-size: 1.2188em;
        margin-bottom: .75rem;
    }
    .beat-info-price{
        font-size: 1.2188em;
    }
    .add-beat-cart{
        width: 7.5rem;
        height: 2.0625rem;
        font-size: 1.1563em;
        margin: .625rem 0 0 .625rem;
    }
}

/* BeatsHome */
.container-beats-home{
    width: 100%;
    min-height: 100vh;
    padding: 3.125rem 0;
    background-color: #151516;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container-beats-home-title{
    color: rgb(224, 224, 224);
    margin-bottom: 1.25rem;
}
.beats-store_populars{
    color: rgb(224, 224, 224);
    margin: .9375rem 0;
}
.beats-store_recent{
    color: rgb(224, 224, 224);
    margin-top: 6.5625rem;
}
.custom-scroll::-webkit-scrollbar{
    height: 0;
    width: .25rem;
}
.custom-scroll::-webkit-scrollbar-track{
    background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb{
    background-color: #3b3838;
    opacity: 0;
    border-radius: .9375rem;
}
.custom-scroll::-webkit-scrollbar-thumb:hover{
    background-color: rgb(124, 124, 124);
    opacity: 0;
    border-radius: .9375rem;
}
.container-card-beat{
    width: 100%;
    margin: 2.875rem 0 .75rem .9375rem;
    padding: 0 .625rem .625rem 0;
    transform: perspective(50rem) rotateY(25deg);
    user-select: none;
}
.beat-card-img{
    width: 100%;
    height: 9.4375rem;
    object-fit: cover;
    border-radius: .5rem;
}
.beat-card-title{
    width: 95%;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;
    margin: 0 .3125rem .375rem .3125rem;
    font-weight: 700;  
    font-size: 1.0625em;
}
.swiper-button-prev, .swiper-button-next{
    color: #30c200;
    width: 2.5rem;
    height: 10rem;
    margin-left: -0.9375rem;
    transform: translateY(-3rem);
}
.swiper-button-next{
    margin-right: -0.9375rem;
}
.beat-card-play-container{
    position: relative;
    width: 100%;
    border-radius: .5rem;
}
.beat-card-play-icon, .beat-card-playing{
    color: rgb(255, 255, 255);
    background-color: #0000004e;
    height: 98%;
    width: 100%;
    border-radius: .5rem;
    font-size: 5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beat-card-play-icon:hover{
    color: rgb(235, 235, 235);
    font-size: 5.3125em;
    transition: ease .3s;
}
.beat-card-playing{
    font-size: 1.25em;
}
.btn-go-allbeats-container{
    font-size: 1.125em;
    background-color: #2fbc00;
    color: #fff;
    border-radius: .4375rem;
    cursor: pointer;
    margin: 1.25rem auto -1.25rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.375rem;
    height: 2.6875rem;
}
.btn-go-allbeats-container:hover{
    background-color: #289f01;
}
.btn-go-allbeats{
    all: unset;
    color: #fff;
}
@media screen and (min-width: 39.375rem){
    .container-card-beat{
        margin: 1.875rem 0 -0.625rem 2.1875rem;
        padding-right: 1.25rem;
        transform: perspective(69.75rem) rotateY(19deg);
    }
}
@media screen and (min-width: 46.875rem){
    .container-card-beat{
        margin: 1.875rem 0 .625rem 3.8125rem;
        padding-right: 1.25rem;
    }
}
@media screen and (min-width: 62.5rem){
    .container-beats-home{
        overflow: hidden;
        padding: 5.625rem 3.125rem 1.625rem 0;
    }
    .container-card-beat{
        display: block;
        height: 13.9rem;
        margin: 1.875rem 0 3.25rem 2.5rem;
        padding-right: 1.25rem;
        transform: perspective(0) rotateY(0);
        -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0,0,0,.4))
    }
    .beat-card-img{
        height: 11.2rem;
        object-fit: cover;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 3.125rem;
        height: 100%;
        margin-right: .5rem;
        transform: translateY(-4.2rem);
    }
    .swiper-button-next{
        margin-right: -.7rem;
        transform: translateY(-4.2rem);
    }
    .swiper-button-next:hover, .swiper-button-prev:hover{
        background-color: #00000060;
        border-radius: 1.25rem;
        transition: all ease .5s;
    }
}