@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.container-hero{
    min-height: 90vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.container-hero_bg{
    overflow: hidden;
    position: relative;
    z-index: 3;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #151515, #181818, #1b1b1b, #181818);
}
.container-hero_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3.875rem 0 1.25rem .625rem;
}
.container-hero_title_h1{
    position: relative;
    font-size: 2.8em;
    letter-spacing: -0.07rem;
    color: #c1c1c1;
    font-family: 'Orbitron';
}
.container-hero_title_h1 span{
    display: block;
    line-height: 1.4;
    font-weight: 400;
}
.container-hero_title_h1 strong{
    color: #ffffff;
}
.container-hero_title_p{
    position: relative;
    color: #c6c6c6;
    font-size: 1rem;
    margin-top: .625rem;
    max-width: 34.375rem;
}
.container-hero_btns{
    display: flex;
    position: relative;
    word-wrap: break-word;
}
.container-hero_btns_btn{
    all: unset;
    padding: .375rem 1.12rem;
    margin: .4375rem 0 0 .625rem;
    width: 5.9375rem;
    height: 1.875rem;
    text-align: center;
    background-color: #610699;
    color: #ffffff;
    border-radius: .3125rem;
    font-size: .9rem;
    font-weight: 600;
}
.container-hero_btns_btn:nth-child(2){
    background-color: transparent;
    margin-top: .425rem;
    text-align: center;
    color: #00ffe1;
    border: 1px solid #00ffe1;
    width: 6.7rem;
    padding: .3rem .3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .3rem;
    font-weight: 600;
}
.container-hero_btns_btn_icon{
    font-size: 1.1rem;
    transform: translateY(.09rem);
}
.bg-blurs, .bg-blurs2, .bg-blurs3, .bg-blurs4{
    width: 15.625rem;
    height: 5rem;
    z-index: -1;
    position: absolute;
    top: 5.625rem;
    left: 9.375rem;
    border-bottom-left-radius: 3.125rem;
    border-top-right-radius: 3.125rem;
    filter: blur(4.0625rem);
    background-color: #9e08d9;
    animation: 8s animateBlurs 2s linear infinite;
}
.bg-blurs2{
    top: 30;
    left: -4.375rem;
    background: #880078;
    transform: rotate(20deg);
    animation: 8s animateBlurs2 2s linear infinite;
}
.bg-blurs3{
    width: 12.5rem;
    height: 4.375rem;
    top: 1.875rem;
    left: 1.25rem;
    transform: rotate(25deg);
    background: #08a795;
    animation: none;
}
.bg-blurs4{
    display: none;
    top: 85%;
    left: 2.25rem;
    transform: rotate(-25deg);
    background: #068315;
    animation: none;
}
.container-images{
    margin-top: 2.5rem;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.image-hero1, .image-hero2, .image-hero3, .image-hero4{
    position: relative;
    object-fit: contain;
    border-radius: .4375rem;
    animation: animate-img 5s ease-in-out infinite;
}
@keyframes animate-img {
    from{
        border-radius: 35% 30% 15% 40% / 40% 25% 40% 20%;
    }
    50%{
        border-radius: 25% 40% 30% 20% / 30% 35% 25% 40%;
    }
    100%{
        border-radius: 35% 30% 15% 40% / 40% 25% 40% 20%;
    }
}
.image-hero1{
    width: 10rem;
    left: 3.125rem;
}
.image-hero2{
    width: 7.5rem;
    top: 3.75rem;
    left: 4.0625rem;
    pointer-events: none;
}
.image-hero3{
    width: 5rem;
    top: 8.5625rem;
    right: 11.9375rem;
    pointer-events: none;
}
.image-hero4{
    bottom: 3.75rem;
    right: 5rem;
    width: 5rem;
}
@media screen and (min-width: 22.5rem){
    .container-hero_title{
        margin: 4.375rem 0 1.5625rem .9375rem;
    }
    .container-hero_title_h1{
        font-size: 3.4em;
        letter-spacing: -0.07rem;
    }
    .container-hero_title_h1 span{
        line-height: 1.35;
    }
    .container-hero_title_p{
        font-size: 1.1rem;
    }
    .container-hero_btns_btn{
        padding: .5375rem 1.175rem;
        margin: .375rem 3px 0 .9375rem;
        width: 7.8125rem;
        font-size: 1.12rem;
    }
    .container-hero_btns_btn:nth-child(2){
        width: 9rem;
        font-size: 1.2em;
        margin-top: .3725rem;
        padding: .375rem 2px .48rem 0;
    }
    .container-hero_btns_btn_icon{
        font-size: 1.5rem;
    }
    .container-images{
        margin-top: 4rem;
    }
}
@media screen and (min-height: 46.5rem) and (orientation: portrait) {
    .container-hero_title{
        margin-top: 5rem;
    }
    .container-hero_title_h1{
        font-size: 3.5em;
    }
    .container-hero_title_h1 span{
        line-height: 1.3;
    }
    .container-hero_btns_btn{
        padding: .42rem 1.4375rem;
        width: 7.8125rem;
        height: 2.3125rem;
        font-size: 1.15em;
    }
    .container-hero_btns_btn:nth-child(2){
        width: 9.375rem;
        font-size: 1.2em;
        margin-top: .4rem;
        padding: .31rem 0;
    }
    .bg-blurs, .bg-blurs2{
        width: 10.75rem;
        height: 5.5rem;
        top: 1.25rem;
        left: 12.5rem;
    }
    .bg-blurs2{
        top: 8.25rem;
        left: 2.5rem;
    }
    @keyframes animateBlurs {
        0%{
            transform: translate(0);
        }
        50%{
            transform: translate(-8.1875rem, -3.3125rem) ;
        }
        100%{
            transform: translate(0);
        }
    }
    @keyframes animateBlurs2 {
        0%{
            transform: translate(0);
        }
        50%{
            transform: translate(8.1875rem, 5.3125rem);
        }
        100%{
            transform: translate(0);
        }
    }
}
@media screen and (min-height: 52.75rem) and (orientation: portrait) {
    .container-hero_title{
        margin: 5.3125rem 0 1.875rem 1.125rem;
    }
    .container-hero_title_h1{
        font-size: 3.75em;
    }
    .container-hero_title_h1 span{
        line-height: 1.5;
    }
    .container-hero_btns_btn{
        padding: .4375rem 1.1375rem;
        margin-left: 1.1rem;
        width: 8.7rem;
        height: 2.375rem;
        font-size: 1.35em;
    }
    .container-hero_btns_btn:nth-child(2){
        font-size: 1.3em;
    }
}
@media screen and (min-height: 55.75rem) and (orientation: portrait) {
    .container-hero_title{
        margin: 5.3125rem 0 1.875rem 1.125rem;
    }
    .container-hero_title_h1{
        font-size: 4em;
    }
    .container-hero_btns_btn{
        padding: .53rem 1.5rem;
        margin-left: 1.1rem;
        width: 8.7rem;
        height: 2.375rem;
        font-size: 1.35em;
    }
    .container-hero_btns_btn:nth-child(2){
        margin-top: .45rem;
        padding: .4rem .5rem;
        font-size: 1.3em;
    }
    .container-images{
        margin-top: 4rem;
    }
}
@media screen and (min-width: 37.5rem){
    .container-hero_title{
        margin: 4.4875rem 0 0 1.5625rem;
    }
    .container-hero_title_h1 span{
        line-height: 1.3;
    }
    .container-hero_title_h1{
        font-size: 4.7em;
    }
    .container-hero_title_p{
        font-size: 1.2em;
        margin-right: 1.875rem;
    }
    .container-hero_btns{
        margin: 1.25rem 0 0 1.5625rem;
    }
    .container-hero_btns_btn:nth-child(2){
        margin-top: .9375rem;
        padding: .45rem .3rem;
    }
    .container-hero_btns_btn{
        margin: .9375rem 1.575rem 0 0;
    }
    .bg-blurs, .bg-blurs2, .bg-blurs3{
        width: 18.75rem;
        height: 7.5rem;
        top: 1.25rem;
        left: 12.5rem;
    }
    .bg-blurs2{
        left: -1.25rem;
    }
    .bg-blurs3{
        width: 18.75rem;
        height: 5.625rem;
        top: 2.5rem;
        left: 1.875rem;
    }
    .image-hero1{
        top: -0.625rem;
        left: 1.5625rem;
    }
    .image-hero2{
        width: 8.125rem;
        top: 3.75rem;
        left: 4.0625rem;
    }
    .image-hero3{
        width: 5.3125rem;
        top: 8.5625rem;
        right: 12.5rem;
    }
    .image-hero4{
        bottom: 3.125rem;
        right: 3.75rem;
        width: 4.375rem;
    }
}
@media screen and (min-width: 40.625rem) and (min-height: 63.75rem) {
    .container-hero_title{
        margin: 5.9375rem 0 0 1.5625rem;
    }
    .container-hero_title_h1{
        font-size: 5.7em;
    }
    .container-hero_title_h1 span{
        line-height: 1.2;
    }
    .container-hero_title_p{
        font-size: 1.6em;
    }
    .container-hero_btns_btn{
        padding: .8125rem 1.375rem;
        width: 11.5625rem;
        font-size: 1.4em;
    }
    .container-hero_btns_btn:nth-child(2){
        height: 2.875rem;
        font-size: 1.4em;
        margin-top: .9375rem;
        padding: .4475rem 1.5rem;
    }
    .bg-blurs, .bg-blurs2, .bg-blurs3{
        width: 21.875rem;
        height: 8.75rem;
        top: 5.625rem;
        left: 18.75rem;
    }
    .bg-blurs2{
        width: 18.75rem;
        top: 6.25rem;
        left: 1.25rem;
    }
    .bg-blurs3{
        top: 3.75rem;
        left: 2.5rem;
    }
    .container-images{
        margin-top: 4rem;
    }
    .image-hero1{
        top: .625rem;
        left: .3125rem;
        width: 11.875rem;
    }
    .image-hero2{
        width: 10.625rem;
        top: 7.5rem;
        left: 4.0625rem;
    }
    .image-hero3{
        width: 6.5625rem;
        top: 12.9375rem;
        right: 16.25rem;
    }
    .image-hero4{
        bottom: 3.4375rem;
        width: 5.9375rem;
    }
}
@media screen and (min-width: 60rem) and (orientation: portrait){
    .container-hero_title{
        margin: 7.1875rem 0 0 3.4375rem;
    }
    .container-hero_title_h1{
        font-size: 7.58em;
    }
    .container-hero_btns{
        margin: 3.1375rem 0 0 3.4375rem;
    }
    .container-hero_btns_btn{
        width: 15.9375rem;
        height: 2.8125rem;
        font-size: 1.8em;
    }
    .container-hero_btns_btn:nth-child(2){
        width: 15.9375rem;
        height: 2.8125rem;
        font-size: 1.9em;
        padding: .5rem 1.125rem 1.06rem 1.125rem;
    }
    .bg-blurs, .bg-blurs2, .bg-blurs3{
        width: 25.875rem;
        height: 9.75rem;
        top: 4.625rem;
        left: 25.75rem;
    }
    .bg-blurs2{
        width: 22.75rem;
        top: 11.25rem;
        left: 8.25rem;
    }
    .bg-blurs3{
        width: 20.875rem;
        left: 3.5rem;
    }
    .container-images{
        margin-top: 5rem;
    }
    .image-hero1{
        top: .625rem;
        left: -.3125rem;
        width: 14.875rem;
    }
    .image-hero2{
        width: 13.225rem;
        top: 9.5rem;
        left: 6.0625rem;
    }
    .image-hero3{
        width: 8.5625rem;
        top: 14.9375rem;
        right: 20.25rem;
    }
    .image-hero4{
        left: -5rem;
        width: 7.9375rem;
    }
}
@media screen and (min-width: 64rem) and (orientation: landscape){
    .container-hero_bg{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .container-hero_title_h1{
        font-size: 4.5em;
        letter-spacing: .5px;
    }
    .container-hero_title_h1 span{
        line-height: 1.2;
    }
    .container-hero_title{
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 0 1rem;
    }
    .container-hero_btns{
        margin: 2.5rem 0 0 1rem;
    }
    .container-hero_btns_btn{
        margin: .9375rem 1.875rem 0 0;
        padding: .675rem 1.3rem;
    }
    .container-hero_btns_btn:nth-child(2){
        margin-top: 1rem;
        padding: .575rem .75rem;
    }
    .bg-blurs,.bg-blurs2,.bg-blurs3,.bg-blurs4{
        filter: blur(5.4rem);
    }
    .bg-blurs{
        width: 12.875rem;
        height: 9.15rem;
        top: 1rem;
        left: 7.75rem;
    }
    .bg-blurs2{
        width: 12.75rem;
        top: 9.25rem;
        left: 2rem;
    }
    .bg-blurs3{
        width: 13.875rem;
        height: 7rem;
        top: 2rem;
        left: -1rem;
    }
    .bg-blurs4{
        display: flex;
        width: 11.875rem;
        height: 5rem;
    }
    @keyframes animateBlurs {
        0%{
            transform: translate(0) ;
        }
        50%{
            transform: translate(-5.1875rem, -6.3125rem) ;
        }
        100%{
            transform: translate(0);
        }
    }
    @keyframes animateBlurs2 {
        0%{
            transform: translate(0);
        }
        50%{
            transform: translate(10.1875rem, 4.3125rem);
        }
        100%{
            transform: translate(0);
        }
    }
    .container-images{
        margin: 0 .5rem 3rem 1rem;
    }
    .image-hero1{
        left: .4125rem;
        width: 10.9rem;
    }
    .image-hero2{
        width: 9.9rem;
        top: 5rem;
        left: 3.1rem;
    }
    .image-hero3{
        width: 5.63rem;
        top: 9.5rem;
        right: 14.25rem;
    }
    .image-hero4{
        left: -6.5rem;
        bottom: 4.3rem;
        width: 5rem;
    }
}
@media screen and (min-width: 81.25rem){
    .container-hero_title{
        margin-left: 2rem;
    }
    .container-hero_title_h1{
        font-size: 5em;
        letter-spacing: 2px;
    }
    .container-hero_title_h1 span{
        line-height: 1.3;
    }
    .container-hero_btns{
        margin: 2rem 0 0 2rem;
    }
    .bg-blurs{
        width: 11.875rem;
        height: 8.15rem;
        top: 1rem;
        left: 6.75rem;
    }
    .bg-blurs2{
        width: 11.75rem;
        top: 15.25rem;
        left: 8rem;
    }
    .container-images{
        margin: 0 .5rem 6rem 1rem;
    }
    .image-hero1{
        left: -.4125rem;
        width: 13rem;
    }
    .image-hero2{
        width: 11rem;
        top: 6rem;
    }
    .image-hero3{
        width: 6.63rem;
        top: 11.5rem;
        right: 17.25rem;
    }
    .image-hero4{
        left: -8.5rem;
        bottom: 5.5rem;
        width: 6rem;
    }
}
