.loading-animation{
    height: 100vh;
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-container{
    width: 100%;
    background-color: #171717;
    color: #fff;
    padding: 3.8rem .7rem;
}
.img-beat-detail{
    width: 100%;
    max-width: 21.875rem;
    object-fit: contain;
    border-radius: .73rem;
}
.beat-play-container{
    position: relative;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beat-play-icon, .beat-playing{
    color: rgb(255, 255, 255);
    background-color: #0000004e;
    height: 100%;
    width: 100%;
    max-width: 20rem;
    border-radius: .5rem;
    font-size: 5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beat-play-icon:hover{
    color: rgb(235, 235, 235);
    font-size: 5.3125em;
    transition: ease .3s;
}
.beat-playing{
    font-size: 1.25em;
}
.beat-detail-info{
    padding: 1rem 0 0 .5rem;
}
.beat-detail-title{
    font-size: 1.4em;
    font-family: 'Orbitron';
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .3rem;
}
.beat-detail-category{
    color: #a2a2a2;
    font-style: italic;
}
.beat-detail-price{
    margin-top: .7rem;
    font-size: 1.4em;
    font-weight: 400;
}
.container-licenses{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 .7rem 0;
    gap: 1rem .7rem;
}
.select-license{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 .6rem;
    height: 6rem;
    width: 11rem;
    border-radius: .43rem;
    border: 1px solid #d00000;
}
.active-license{
    border: 1px solid #ff0000;
    background-color: #ff020256;
}
.title-license{
    font-weight: 600;
}
.container-btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.beat-detail-add{
    all: unset;
    width: 100%;
    height: 2.2rem;
    margin-top: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d00000;
    border-radius: .73rem;

}
@media screen and (min-width: 21.875rem) {
    .detail-container{
        padding: 4rem 1rem;
    }
    .container-img-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-beat-detail{
        max-width: 20rem;
    }
    .beat-play-icon, .beat-playing{
        max-width: 20rem;
    }
    .beat-playing{
        font-size: 1.4em;
    }
    .beat-detail-title{
        font-size: 1.6em;
        letter-spacing: 1.3px;
        margin: 0 0 .5rem .4rem;
    } 
    .beat-detail-category{
        font-size: 1em;
        margin-left: .4rem;
    }
    .beat-detail-price{
        font-size: 1.55em;
        margin: .5rem 0 0 .4rem;
    }
    .container-licenses{
        margin: 1rem .5rem;
        gap: 1rem .7rem;
    }
    .select-license{
        height: 7rem;
        width: 9rem;
        border: 1px solid red;
    }
    .title-license{
        font-size: 1.1em;
    }
    .beat-detail-add{
        width: 90%;
        height: 2.5rem;
        border-radius: .73rem;
        margin: 1.2rem 0 0 -1rem;
    }
}
@media screen and (min-width: 31.25rem) {
    .detail-container{
        padding: 5rem 1rem;
    }
    .beat-playing{
        font-size: 1.5em;
    }
    .beat-detail-title{
        font-size: 1.8em;
        letter-spacing: 1.5px;
        margin: .7rem 0 .5rem 2.5rem;
    } 
    .beat-detail-category{
        font-size: 1.15em;
        margin-left: 2.5rem;
    }
    .beat-detail-price{
        font-size: 1.65em;
        margin: .8rem 0 0 2.5rem;
    }
    .container-licenses{
        margin: 1rem 2.5rem;
        gap: 1.3rem 1.3rem;
    }
    .select-license{
        height: 7rem;
        width: 11rem;
    }
    .beat-detail-add{
        width: 80%;
        height: 2.7rem;
        font-size: 1.25em;
    }
}
@media screen and (min-width: 41.75rem) {
    .beat-playing{
        font-size: 1.6em;
    }
    .beat-detail-title{
        font-size: 2em;
        letter-spacing: 1.8px;
        margin: .7rem 0 .5rem 4rem;
    } 
    .beat-detail-category{
        font-size: 1.15em;
        margin-left: 4rem;
    }
    .beat-detail-price{
        margin: .8rem 0 0 4rem;
    }
    .container-licenses{
        margin: 2rem 4rem;
        gap: 1.3rem 1.3rem;
    }
    .select-license{
        height: 7rem;
        width: 11rem;
    }
    .beat-detail-add{
        width: 80%;
        height: 2.9rem;
        margin: 1rem 0 0 -1rem;
        font-size: 1.35em;
    }
}
@media screen and (min-width: 62.75rem) {
    .detail-container{
        padding: 6.8rem 0 6.8rem 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .beat-play-icon, .beat-playing{
        height: 100%;
        width: 100%;
        max-width: 23.875rem;
    }
    .img-beat-detail{
        width: 100%;
        max-width: 23.875rem;
    }
    .beat-detail-info{
        padding: 0;
    }
    .beat-detail-title{
        max-width: 25rem;
        font-size: 2.2em;
        letter-spacing: 2.2px;
    } 
    .beat-detail-category{
        font-size: 1.25em;
    }
    .beat-detail-add{
        width: 85%;
        height: 2.9rem;
        margin: 1rem 0 0 1rem;
    }
}