.slider-container{
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.slider-container-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.slide-active{
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 1;
  overflow: hidden;
  transition: .5s ease-in-out;
}
.slide-inactive{
  position: absolute;
  opacity: 0;
}
.slides{
  height: 90vh;
  width: 100%;
  position: relative;
}
.slide-image{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  user-select: none;
}
.slide-container-info{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background: 
    linear-gradient(to right,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.38)
  );
  padding: 0 .5rem;
  background-blend-mode: soft-light;
  color: #fff;
}
.slide-title{
  color: rgb(53, 213, 0);
  font-size: 4em;
  line-height: 4rem;
}
.slide-title-long{
  font-size: 3em;
  letter-spacing: -.05rem;
  word-spacing: -.3rem;
}
.slide-authors{
  font-size: 1.2em;
}
.slide-text{
  font-size: .92em;
  line-height: 1.3rem;
  max-width: 20rem;
  max-height: 12rem;
  overflow-y: auto;
}
.slide-btn{
  background-color: rgb(46, 185, 0);
  height: 2.5rem;
  width: 7.5rem;
  font-size: 1.0625em;
  letter-spacing: .05rem;
  border-radius: 3px;
  text-align: center;
}
.all-dots {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
}
.dot {
  height: 1.6rem;
  width: 1.6rem;
  margin: 2.5px 3px;
  background-color: transparent;
  background-color: rgba(138, 138, 138, 0.746);
  border-radius: 50%;
}
.active-dot {
  background-color: rgba(46, 250, 0, 0.834);
}
.video-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.635);
}
.video-open iframe{
  width: 100%;
  height: 30%;
}
.video-open .close-video{
  position: fixed;
  top: 27%;
  right: .4375rem;
  width: 2.7rem;
  height: 2.7rem;
  color: #fff;
  background-color: rgba(215, 215, 215, 0.405);
  padding: .3125rem;
  border-radius: 10%;
}
@media (min-width: 25rem){
  .slide-container-info{
    padding: 0 1rem;
  }
  .slide-title{
    font-size: 4em;
  }
  .slide-title-long{
    font-size: 3.4em;
  }
  .video-open iframe{
    width: 95%;
    height: 40%;
    border: none;
  }
  .video-open .close-video{
    top: 15%;
    right: 1rem;
  }
}
@media (min-width: 45rem){
  .slide-container-info{
    padding: 0 2rem;
    gap: 2rem;
  }
  .slide-title{
    font-size: 6em;
    line-height: 6.5rem;
  }
  .slide-title-long{
    font-size: 5.4em;
    line-height: 5.8rem;
  }
  .slide-authors{
    font-size: 1.4em;
  }
  .slide-text{
    font-size: 1em;
    line-height: 1.4rem;
    max-width: 28rem;
  }
  .slide-btn{
    height: 2.8rem;
    width: 9rem;
    font-size: 1.15em;
  }
  .slide-btn:hover{
    background-color: rgb(52, 210, 0);
  }
  .all-dots {
    bottom: 4%;
  }
  .dot {
    height: 1.8rem;
    width: 1.8rem;
    margin: 3px .28rem;
  }
  .video-open iframe{
    width: 90%;
    height: 60%;
  }
  .video-open .close-video{
    top: 12%;
    right: 1rem;
  }
}
@media (min-width: 75rem) {
  .slide-container-info{
    padding: 0 4rem;
    gap: 2.5rem;
  }
  .slide-title{
    font-size: 6.6em;
    line-height: 7rem;
  }
  .slide-title-long{
    font-size: 5em;
    line-height: 6.5rem;
  }
  .slide-authors{
    font-size: 1.5em;
  }
  .slide-text{
    font-size: 1.05em;
    line-height: 1.5rem;
    max-width: 32rem;
  }
  .video-open iframe{
    width: 80%;
    height: 70%;
  }
  .video-open .close-video{
    top: 8%;
    right: 3rem;
  }
}
@media (min-width: 90rem) and (min-height: 56rem){
  .slide-container-info{
    padding: 0 11rem;
    gap: 3rem;
  }
  .slide-title{
    font-size: 8em;
    line-height: 8.5rem;
  }
  .slide-title-long{
    font-size: 7.4em;
    line-height: 7rem;
  }
  .slide-text{
    font-size: 1.1em;
    line-height: 1.6rem;
    max-width: 30rem;
    max-height: none;
  }
  .video-open iframe{
    width: 80%;
    height: 80%;
  }
}