.slider-container{
  min-height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider-container-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.slide-active{
  display: flex;
}
.slide-inactive{
  display: none;
}
.slides{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.slide-image{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  user-select: none;
}
.slide-title{
  width: 100%;
  height: 100%;
  position: absolute;
  color: rgb(53, 213, 0);
  font-size: 3.4375em;
  display: flex;
  padding: 0px .3125rem 23.75rem .625rem;
  background: 
  linear-gradient(to right,
  rgba(22, 22, 22, 0.818),
  rgba(27, 26, 26, 0.478));
  background-blend-mode: soft-light;
  align-items: center;
}
.slide-title-long{
  font-size: 2.8125em;
  letter-spacing: -.05rem;
  word-spacing: -.3rem;
  line-height: 3.125rem;
  padding-bottom: 25.9375rem;
}
.slide-authors{
  position: absolute;
  top: 20%;
  left: .75rem;
  width: 80%;
  height: 6.25rem;
  display: flex;
  color: #fff;
  font-size: 1.375em;
  letter-spacing: .05rem;
  padding-top: 2.5rem;  
  align-items: center;
}
.slide-text{
  position: absolute;
  top: 29%;
  left: .75rem;
  width: 90%;
  height: 30%;
  display: flex;
  color: #fff;
  margin-top: 3.125rem;
  font-size: .9375em;
  align-items: center;
}
.slide-btn{
  all: unset;
  cursor: pointer;
  position: absolute;
  left: .75rem;
  top: 72%;
  color: #fff;
  background-color: rgb(46, 185, 0);
  height: 2.5rem;
  width: 7.5rem;
  font-size: 1.0625em;
  letter-spacing: .05rem;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
.all-dots {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
}
.dot {
  cursor: pointer;
  height: 1.6rem;
  width: 1.6rem;
  margin: 2.5px 3px;
  background-color: transparent;
  background-color: rgba(138, 138, 138, 0.746);
  border-radius: 50%;
}
.active-dot {
  background-color: rgba(46, 250, 0, 0.834);
}
.video-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.635);
}
.open iframe{
  width: 100%;
  height: 12.5rem;
}
.open .close-video{
  position: fixed;
  top: 27%;
  right: .4375rem;
  width: 2.7rem;
  height: 2.7rem;
  color: #fff;
  cursor: pointer;
  background-color: rgba(215, 215, 215, 0.405);
  padding: .3125rem;
  border-radius: 10%;
}
@media screen and (max-width: 15.625rem) {
  .slide-title{
    font-size: 4.375em;
    padding-bottom: 31.25rem;
  }
  .slide-title-long{
    font-size: 2.5em;
    padding-bottom: 32.5rem;
  }
  .slide-authors{
    top: 21%;
    left: .9375rem;
  }
  .slide-text{
    font-size: 1.0625em;
    top: 33%;
    width: 95%;
  }
  .slide-btn{
    top: 78%;
  }
  .open iframe{
    width: 100%;
    height: 16.875rem;
  }
}
@media screen and (min-width: 21.25rem) and (min-height: 38.75rem) {
  .slide-title{
    font-size: 4.5em;
    padding-bottom: 23.75rem;
  }
  .slide-title-long{
    font-size: 3.5625em;
  }
  .slide-authors{
    top: 21%;
    padding-top: 4.375rem;
  }
  .slide-text{
    font-size: 1.125em;
    top: 32%;
    width: 85%;
  }
  .slide-btn{
    top: 72%;
    left: .75rem;
    height: 2.9375rem;
    width: 9.375rem;
    font-size: 1.1875em;
  }
  .open iframe{
    width: 100%;
    height: 13.75rem;
  }
  .dot {
    height: 1.9rem;
    width: 1.9rem;
    margin: 2.5px .25rem;
  }
}
@media screen and (min-width: 23.125rem) and (min-height: 52.5rem) {
  .slide-title{
    font-size: 5em;
    padding: 0 0 31.25rem 1.25rem;
  }
  .slide-title-long{
    font-size: 4.1875em;
    padding-bottom: 31.875rem;
  }
  .slide-authors{
    top: 21%;
    left: 1.25rem;
    font-size: 1.6875em;
    padding-top: 4.375rem;
  }
  .slide-text{
    font-size: 1.3125em;
    top: 30%;
    left: 1.25rem;
    width: 80%;
  }
  .slide-btn{
    top: 72%;
    left: 1.25rem;
    height: 3.0625rem;
    width: 10rem;
    font-size: 1.25em;
  }
}
@media screen and (min-width: 37.5rem) and (min-height: 17.375rem){
  .slide-title{
    font-size: 4.375em;
    padding: 0 0 13.75rem 1.875rem;
  }
  .slide-authors{
    top: 4%;
    left: 2.125rem;
    font-size: 1.25em;
  }
  .slide-text{
    font-size: .9375em;
    top: 19%;
    left: 2.125rem;
    max-width: 43.75rem;
    width: 90%;
  }
  .slide-btn{
    top: 72%;
    left: 2.125rem;
    height: 2.3125rem;
    width: 7.5rem;
    font-size: 1.0625em;
  }
  .open iframe{
    width: 70%;
  }
  .open .close-video{
    top: 5%;
    right: 1.5rem;
  }
}
@media screen and (min-width: 37.5rem) and (min-height: 20rem){
  .slide-title{
    font-size: 4.6875rem;
    padding: 0 0 14.375rem 1.875rem;
  }
  .slide-authors{
    top: 15%;
    left: 2.125rem;
  }
  .slide-text{
    font-size: 1.0625em;
    top: 25%;
    left: 2.125rem;
    max-width: 43.75rem;
    width: 90%;
  }
  .slide-btn{
    top: 73%;
    left: 2.125rem;
    height: 2.625rem;
    width: 8.125rem;
    font-size: 1.0625em;
  }
  .open iframe{
    height: 17.5rem;
  }
}
@media screen and (min-width: 37.625rem) and (min-height: 43.75rem){
  .slide-title{
    font-size: 5.9375em;
    padding: 0 0 25rem 1.875rem;
  }
  .slide-authors{
    top: 22%;
    left: 2.125rem;
    font-size: 1.5625em;
  }
  .slide-text{
    font-size: 1.25em;
    top: 31%;
    left: 2.125rem;
    width: 80%;
  }
  .slide-btn{
    top: 72%;
    left: 1.875rem;
    height: 2.8125rem;
    width: 8.75rem;
    font-size: 1.125em;
  }
  .open iframe{
    width: 90%;
    height: 23.75rem;
  }
  .open .close-video{
    top: 17%;
    right: 1.25rem;
  }
}
@media screen and (min-height: 56.25rem) and (min-width: 46.875rem) {
  .slide-title{
    font-size: 7.3125rem;
    letter-spacing: 1px;
    padding: 0 0 31.25rem 1.875rem;
  }
  .slide-authors{
    top: 28%;
    left: 2.25rem;
    font-size: 2em;
  }
  .slide-text{
    font-size: 1.6875em;
    width: 75%;
    top: 33%;
    left: 2.25rem;
  }
  .slide-btn{
    top: 70%;
    left: 2.25rem;
    height: 3.4375rem;
    width: 11.875rem;
    font-size: 1.5em;
  }
  .dot{
    height: 2.5rem;
    width: 2.5rem;
    margin: .375rem;
  }
  .open iframe{
    width: 80%;
    height: 24.375rem;
  }
}
@media screen and (min-height: 65.625rem) and (min-width: 44.375rem) {
  .slide-title{
    font-size: 6.6875em;
    letter-spacing: 1px;
    padding: 0 0 31.25rem 1.875rem;
  }
  .slide-authors{
    top: 28%;
    left: 2.25rem;
    font-size: 2em;
  }
  .slide-text{
    font-size: 1.6875em;
    width: 75%;
    top: 33%;
    left: 2.25rem;
  }
  .slide-btn{
    top: 70%;
    left: 2.25rem;
    height: 3.4375rem;
    width: 11.875rem;
    font-size: 1.5em;
  }
  .open iframe{
    width: 95%;
    height: 40%;
  }
}
@media screen and (min-width: 62.5rem) and (min-height: 43.75rem){
  .slide-title{
    font-size: 6.5625em;
    letter-spacing: 2px;
    padding: 0 0 26.25rem 3.4375rem;
    background: linear-gradient(to right,
    rgba(22, 22, 22, 0.957),
    rgba(27, 26, 26, 0.287))
  }
  .slide-authors{
    top: 25%;
    left: 3.6875rem;
    font-size: 2.1875em;
  }
  .slide-text{
    font-size: 1.3125em;
    width: 50%;
    top: 33%;
    left: 3.6875rem;
  }
  .slide-btn{
    top: 74%;
    left: 3.6875rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.4375em;
  }
  .dot{
    height: 2rem;
    width: 2rem;
    margin: .375rem;
  }
  .all-dots {
    width: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 1.875rem;
    align-items: flex-end;
  }
  .open iframe{
    width: 90%;
    height: 40%;
  }
  .open .close-video{
    top: 1.25rem;
    right: 1.25rem;
  }
}
@media screen and (min-height: 37.5rem) and (min-width: 62.5rem){
  .slider-container{
    height: 100vh;
  }
  .slide-title{
    font-size: 6.0625em;
    letter-spacing: 1px;
    padding: 0 0 25.625rem 3rem;
    background: linear-gradient(to right,
    rgba(22, 22, 22, 0.957),
    rgba(27, 26, 26, 0.003))
  }
  .slide-authors{
    top: 21%;
    left: 3.4375rem;
    font-size: 1.875em;
  }
  .slide-text{
    font-size: 1.1875em;
    width: 45%;
    top: 33%;
    left: 3.4375rem;
  }
  .slide-btn{
    top: 74%;
    left: 3.4375rem;
    height: 3.125rem;
    width: 9.375rem;
    font-size: 1.4375em;
  }
  .dot {
    height: 2rem;
    width: 2rem;
    margin: .375rem;
  }
  .all-dots {
    top: 1.875rem;
    right: 1.875rem;
  }
  .open iframe{
    width: 75%;
    height: 82%;
  }
  .open .close-video{
    top: 1.875rem;
    right: 5rem;
  }
}
@media screen and (min-width: 81.25rem) {
  .slider-container{
    height: 100vh;
  }
  .slide-title{
    font-size: 6.6875em;
    letter-spacing: 1px;
    padding: 0 0 26.25rem 3.4375rem;
  }
  .slide-authors{
    top: 25%;
    left: 3.75rem;
    font-size: 2.1875em;
  }
  .slide-text{
    font-size: 1.3125em;
    width: 40%;
    top: 33%;
    left: 3.75rem;
  }
  .slide-btn{
    top: 74%;
    left: 3.75rem;
    height: 3rem;
    width: 10rem;
    font-size: 1.4375em;
    cursor: pointer;
  }
  .all-dots {
    top: 1.875rem;
    right: 1.875rem;
  }
  .open iframe{
    width: 75%;
    height: 82%;
  }
  .open .close-video{
    top: 1.875rem;
    right: 5rem;
  }
}